h1{
    color: reb;
    font-size: 30px;
    color: aquamarine;
}
h1{
    color: reb;
    font-size: 20px;
    color: rgb(182, 7, 77);
}
body{
    background-color: black;
    margin:200px auto;
    display: flex;
    align-items: center;
    justify-content: center;

}